<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome to mcljs</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MCLJS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>Hello World!</h1>
        {% if dev %}
        <p>This is the DEV environment</p>
        {% else %}
        <p>This is the PROD environment</p>
        {% endif %}
      </div>
    </div>
    
    <div id="app">
      <p>If you're seeing this message, that means you haven't
        yet compiled your ClojureScript!</p>
      <p>Please run <code>lein cljsbuild auto dev</code> to
        start the ClojureScript compiler and reload the page.</p>
    </div>


    <!-- Latest compiled and minified JQuery JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
    {% script "/js/out/goog/base.js" %}
    {% script "/js/app.js" %}
    {% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.min.js"></script>
    {% script "/js/app.js" %}
    {% endif %}
    {% if brepl %}
    <script type="text/javascript">{{brepl|safe}}</script>
    {% endif %}
  </body>
</html>




